<div ng-controller="Login">
  <div ng-show="spinner">
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </div>
  <div class="form" ng-hide="spinner || user"> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-1 col-md-10" id="login">   
          <div class="centerText">
            <h1>Welcome Back!</h1>
          </div>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" ng-model="login.email" class="form-control" id="inputEmail3" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="login.pass" id="inputPassword3" placeholder="Password" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="initLogin()" class="btn btn-default">Sign in</button>
                <p> {{err}} </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- tab-content -->
  </div> <!-- /form -->
  <div class="container-fluid" ng-show="user">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="centerText">
          <h1>Hello, {{user.fName}} </h1>
        </div>
        <div>
          <!-- <table-info data="user.orders" datakeys="orderKeys" /> -->
          <div class="table">
            <table class="table table-hover">
              <tr>
                <th> Shipping Date </th>
                <th> Order Date </th>
                <th> City </th>
                <th> Final Price </th>
                <th> Products </th>
              </tr>
              <tr ng-repeat="(key, val) in user.orders">
                <td ng-if="!val.shippingDate"><a ng-click="cartHandler(val['_id'])" href="../store"> Start Shopping With This Order </a></td>
                <td ng-if="val.shippingDate">{{val.shippingDate}}</td>
                <td>{{val.orderDate}}</td>
                <td>{{val.city}}</td>
                <td>{{val.finalPrice}}$</td>
                <td>
                  <ul>
                    <li ng-repeat="product in val.products">{{product.name}}</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="centerText">
          <a href="../store" class="anchorBtn">Start Shopping!</a>
          <a class="anchorBtn" ng-if="user.role === 'admin'" href="/store/admin.html">Edit Store</a>
        </div>
      </div>
    </div>
  </div>
</div>